:root {
	--lightColor: #eee2df;
	--lightGray: #efefef;
	--darkGrayColor: #666;
	--lightBlueGrayColor: #8E9AAF;
	--darkBlueColor: #1E3D5A;
	--blueColor: #26547C;
	--defaultFontSize: 17px;
	--titlesFontSize: 25px;
	--subtitlesFontSize: 18px;
	--thinFont: 15px;
	--greenColor: #1F8A70;
	--redColor: #ce4c4c;
	--orangeColor: #ce4c4c;
	--blueA: #132231;
	--blueB: #264562;
	--blueC: #396893;
	--blueD: #4c8bc4;
	--blueE: #60aef6;
}

.boxShadow {
	box-shadow: 0 0 30px 0 rgba(0,0,0,0.3);
}

.step-number,
.step-title {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: var(--defaultFontSize);
	line-height: 200%;
	text-align: center;
}




















select, input, a {
	outline: none;
	position: relative;
	box-sizing: border-box;
	z-index: 1;
}

select, a, .check-fim input {
	cursor: pointer;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
}

a, button {
	display: inline-block;
	text-decoration: none;
	color: var(--darkBlueColor);
	padding: 10px;
	margin: 20px;
	border: none;
	border-radius: 5px;
	font-weight: 700;
	font-size: var(--defaultFontSize);
	text-align: center;
	background-color: #fff;
	outline: none;
	cursor: pointer;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
	box-sizing: border-box;
    transition: all 0.5s;
	font-family: 'Roboto Condensed', sans-serif;
}

button:hover {
	cursor: pointer;
	background-color: var(--greenColor);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.30);
    color: #fff;
    transform: scale(0.97);
	font-family: 'Roboto Condensed', sans-serif;

}

button:hover span {
    color: #fff;
	font-family: 'Roboto Condensed', sans-serif;

}

button:hover div span {
    color: #fff;
	font-family: 'Roboto Condensed', sans-serif;

}

span {
	display: block;
	box-sizing: border-box;
	font-size: var(--defaultFontSize);
}

p {
	font-family: 'Roboto Condensed', sans-serif;
	display: inline-block;
	color: var(--darkBlueColor);
	text-align: justify;
	box-sizing: border-box;
	font-size: var(--defaultFontSize);
	font-weight: 400;
}




.textCenter {
	text-align: center;
	margin: 0 auto;
	width: 100%;
}







/*header space*/
.headerSpace {
	height: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: var(--titlesFontSize);
	font-weight: 500;
	box-sizing: border-box;
}

.headerSpace span {
	color: var(--darkBlueColor);
	font-size: var(--titlesFontSize);
}

/*header space*/










/*step form*/
.header-container {
	position: relative;
	display:flex;
	height:80px;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:space-between;
	align-items:center;
	margin:10px auto;
	box-sizing: border-box;
}

.steps-container {
	position: relative;
	display:flex;
	margin:10px auto;
	width:90vw;
	background-color:#666;
	border-radius:30px 30px 9px 9px;
	justify-content:center;
	height: 100%;
	max-width: 1200px;
	box-sizing: border-box;
}

.steps {
	position: relative;
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:space-around;
	width:95vw;
	padding: 6px;
	max-width: 1100px;
	box-sizing: border-box;
}

.steps-wrapper {
	position:relative;
	display:flex;
	align-items:center;
	justify-content: center;
	cursor: pointer;
	box-sizing: border-box;
}

.step-itens {
	position: relative;
	display:grid;
	padding:5px;
	transition: 1s all ease;
	box-sizing: border-box;
}

.borderStep {
	position: absolute;
	width: 30px;
	height: 30px;
	border: 2px solid gray;
	border-radius:50%;
	transform: translateX(50%);
	right: 50%;
	top: 8px;
	z-index: 20;
	transition: 1s all ease;
	box-sizing: border-box;

}

.step-before-pass .borderStep {
	border: 2px solid gray;
	transition: 1s all ease;

}

.step-after-pass .borderStep {
	border: 2px solid rgb(80,80,80);
	transition: 1s all ease;

}

.step-select .borderStep {
	border: 3px solid #fff;
	top: 7.7px;
}

.step-number {
	justify-self:center;
	position:relative;
	width:30px;
	height:30px;
	font-size:18px;
	box-sizing: content-box;
	box-sizing: border-box;
}

.step-before span { position:relative;
	color:#fff;
	border-color:lightgray;
}

.stepLineBefore {
	position:absolute;
	align-self: center;
	justify-self:center;
	width:80px;
	height:4px;
	background:linear-gradient(to right,rgba(192,192,192,0) 0%,rgba(192,192,192,1) 40%,rgba(192,192,192,1) 100%);
	left: -44px;
	top: 22px;
}

.stepLineAfter {
	position:absolute;
	align-self: center;
	justify-self:center;
	width:80px;
	height:4px;
	background:linear-gradient(to right,rgba(192,192,192,1) 0%,rgba(192,192,192,1) 40%,rgba(192,192,192,0) 100%);
	right: -44px;
	top: 22px;
	box-sizing: border-box;
}

.step-after-pass .stepLineBefore {
	position:absolute;
	align-self: center;
	justify-self:center;
	width:80px;
	height:4px;
	background:linear-gradient(to right,rgba(80,80,80,0) 0%,rgba(80,80,80,1) 40%,rgba(80,80,80,1) 100%);
	left: -45px;
	top: 22px;
	box-sizing: border-box;
}

.step-after-pass .stepLineAfter {
	position:absolute;
	align-self: center;
	justify-self:center;
	width:80px;
	height:4px;
	background:linear-gradient(to right,rgba(80,80,80,1) 0%,rgba(80,80,80,1) 40%,rgba(80,80,80,0) 100%);
	right: -45px;
	top: 22px;
	box-sizing: border-box;
}

.step-select {
	position: relative;
	border-radius:5px;
	box-shadow:0 0 30px 0 rgba(0,0,0,0.6);
	box-sizing: border-box;
}

.step-select span {
	position: relative;
	color: #fff;
	box-sizing: border-box;
}

.step-before-pass span {
	position: relative;
	color: #fff;
	border-color: lightgray;
	box-sizing: border-box;
}

.step-after span {
	box-sizing: border-box;
	position: relative;
}

.step-end span {
	position: relative;
	box-sizing: border-box;
}






[name="firstStepLine"] {
	right: -35px;	
}

[name="segundoStepLine1"] {
	left: -29px !important;
	width: 110px;	
}

[name="segundoStepLine2"] {
	right: -29px !important;
	width: 110px;	
}

.step-after-pass [name="segundoStepLine1"] {
	left: -29px !important;
	width: 110px;	
}

.step-after-pass [name="segundoStepLine2"] {
	right: -29px !important;
	width: 110px;	
}

[name="terceiroStepLine1"] {
	left: -34px !important;
	width: 100px;	
}

[name="terceiroStepLine2"] {
	right: -34px !important;
	width: 100px;	
}

.step-after-pass [name="terceiroStepLine1"] {
	left: -34px !important;
	width: 100px;	
}

.step-after-pass [name="terceiroStepLine2"] {
	right: -34px !important;
	width: 100px;	
}

[name="quartoStepLine1"] {
	left: -44px !important;
	width: 100px;	
}

.step-after-pass [name="quartoStepLine1"] {
	left: -44px !important;
	width: 100px;	
}

/*fim step form*/
















.fullContainer {
	position: relative;
	display: block;
	box-sizing: border-box;
	max-width: 1400px;
	margin: 0 auto;
}

















/*tabsContainer*/
.tabsContainer {
	position: relative;
	display: block;
	border-radius: 10px;
	margin: 0 auto;
	width: 90vw;
	height: 450px;
	max-width: 1200px;
	max-height: 450px;
	font-family: 'Roboto Condensed', sans-serif;
	box-sizing: border-box;
}

.btnContainer {
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	width: 90vw;
	margin: 0 auto;
	max-width: 1200px;
}

.tabsContainer span {
	font-size: var(--defaultFontSize);
	color: var(--blueColor);
}

















/*disc chart*/
.cloudChart {
	position: absolute;
	background-color: var(--lightColor);
	padding: 3px 10px;
	top: -1px;
	left: 180px;
	width: 77%;
	z-index: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.cloudChart span {
	z-index: 2;
	color: #fff;
}

.cloudChart::before {
	content: "";
	left: 0;
	top: 0;
	background-color: var(--greenColor);
	width: 87.5%;
	height: 100%;
	position: absolute;
	z-index: -1;
}


















/*btns avançar e voltar*/
.btnContainer button {
	display: flex;
	position: relative;
	box-sizing: border-box;
	flex-direction: row;
	align-items: center;
	background-color: var(--blueColor);
}

.btnContainer button:hover {
	background-color: var(--greenColor);
}

.btnContainer button span {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: var(--defaultFontSize);
	margin-right: 7px;
	color: #fff;
}

#slidesArrowLeftContinueBtn,
#slidesArrowRightContinueBtn {
	position: relative;
	display: block;
	box-sizing: border-box;
}

#slidesArrowLeftContinueBtn {
	transform: rotate(180deg);
	margin-right: 6px;
}



























/*scroll snap*/
/*container dos slides*/
.tabsWrapper {
	scroll-snap-type: x mandatory;
	-webkit-scroll-snap-type: x mandatory;
	scroll-snap-points-x: repeat(100%);
	-webkit-scroll-snap-points-x: repeat(100%);
	-webkit-scroll-snap-destination: 50% 50%;
	scroll-snap-destination: 50% 50%;
	scroll-behavior: smooth;
	scrollbar-width: none;
	-ms-overflow-style: none;
	position: relative;
	display: grid;
	grid-template-columns: repeat(5, 100%);
	grid-auto-flow: column;
	box-sizing: border-box;
	width: 100%;
	height: 450px;
	overflow-x: auto;
	/*overflow-y: hidden;*/
	border-radius: 10px;
}

/*tira barra de rolagem dos slides*/
.tabsWrapper::-webkit-scrollbar {
  display: none;
}














/*scroll Snap*/
/*slides*/
.child {
	border-radius: 10px;
	scroll-snap-align: center;
	-webkit-scroll-snap-coordinate: 50% 50%;
	scroll-snap-coordinate: 50% 50%;
	-webkit-overflow-scrolling: touch;
	width: 100%;
	background-color: transparent;
	display: block;
	position: relative;
	box-sizing: border-box;
	border-radius: 10px;
	padding: 20px;
}

#step3, #step2, #step4 {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 430px;
}











/*tab produtos*/
.tabProdutos {
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
	width: 100%;
	height: auto;
	overflow: auto;
}










/*tab valores*/
.tabValores {
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
	width: 100%;
	height: 100%;
	overflow: auto;
}










/*tab termos*/
.tabTermos {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 80%;
	padding: 20px;
	box-sizing: border-box;
	position: relative;
}

.btnTermosWrapper {
	display: grid;
	grid-template-columns: 40px 1fr;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	position: relative;
}

.btnTermos {
	position: absolute;
	right: 0px;
	top: 0px;
}

.btnTermos svg {
	grid-column: 1 / 2;
	grid-row: 1 / 3;
	align-self: center;
}

.btnTermos span:nth-of-type(1) {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	font-size: var(--defaultFontSize);
}

.btnTermos span:nth-of-type(2) {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	font-size: var(--defaultFontSize);
}

.termosText {
	line-height: 1.5;
	text-align: justify;
	margin-top: 55px;
}

.termosText span {
	color: var(--darkBlueColor);
	font-size: 20px;
	margin-bottom: 20px;
}

li.listSection { 
	font-family: 'Roboto Condensed', sans-serif;
	color: var(--darkBlueColor);
	text-align: justify;
    font-size: 20px; 
    font-weight: 400; 
    padding: 15px; 
    counter-increment: ordem;
}

.foo { 
    counter-reset: foo; 
    padding-left: 15px; 
}

.foo li { 
    list-style-type: none;
}

.foo li:before { 
    counter-increment: foo; 
    content: counter(ordem) "." counter(foo) " ";
    font-weight: 700;
}








/*tab ficha*/
.tabStatus {
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	grid-gap: 20px;
	font-family: 'Roboto', sans-serif;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.side1 {
	grid-row: 1 / -1;
}

.footer {
	grid-column: 2 / -1;
	grid-row: 2 / -1;
	border: 1px solid #eee2df;
	border-radius: 5px;
	padding: 10px;
}

#receberCodTextSendConfirmation {
	display: none;
}

.footer span {
	font-size: 16px;
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;

}

.tabFicha {
	position: relative;
	box-sizing: border-box;
	display: block;
	font-family: 'Roboto', sans-serif;
	width: 100%;
	/*overflow: auto;*/
}









/*elements lines*/
.elementsLine, .userTag {
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}

.elementsLine {
	margin: 5px;
}

.elementsLine svg {
	margin-right: 6px;
}


















.accordionTitle {
	position: relative;
	box-sizing: border-box;
	display: flex !important;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
	padding: 15px;
	background-color: #eee2df;
	border: none;
	outline: none;
	border-radius: 5px;
	margin-bottom: 2px;
}

amp-accordion, #step1 {
	overflow: auto;
}

.accordionTitle span {
	align-self: center;
	justify-self: center;
	display: inline-block;
	margin-left: 5px;
}

.cancelarProdutoBtn {
	position: absolute;
	right: 20px;
	cursor: pointer;
	z-index: 2;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0;
	top: 20px;
}

.cancelarProdutoBtn svg {
	margin-right: 5px;
}

.cancelMsg {
	position: absolute;
	font-size: 16px;
	font-weight: 300;
	top: 70px;
	padding: 10px;
	border: 1px solid var(--orangeColor);
	width: 200px;
	right: 0;
	top: 10px;
	border-radius: 6px;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.cancelCodWrapper {
	position: absolute;
	right: 0px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	width: 240px;
	padding: 10px;
	border-radius: 6px;
	top: 10px;
	border: 1px solid var(--redColor);
}

.cancelCodWrapper span {
	text-align: center;
}

.cancelCodWrapper input {
	border: 1px solid var(--blueColor);
	box-sizing: border-box;
	position: relative;
	display: block;
	padding: 5px;
	font-size: 18px;
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	margin-top: 10px;
	border-radius: 5px;
}








/*bloco users*/
.userContainer {
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-bottom: 10px;
	border-bottom: 1px solid var(--lightColor);
}

.userTag {
	border: 1px solid var(--lightBlueGrayColor);
	padding: 6px 10px;
	border-radius: 5px;
	margin-left: 5px;
}

.userTag span {
	font-family: 'Roboto Condensed', sans-serif;
}

.side2 {
	padding: 6px;
	border: 1px solid #eee2df;
	border-radius: 5px;
}

.side2 span {
	text-align: center;
	font-size: 16px;
	font-family: 'Roboto Condensed', sans-serif;

}










/*currency lines*/
.valoresElements {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	box-sizing: border-box;
	align-items: stretch;
	margin: 0;
	padding: 0;
}

.valoresElements li {
	position: relative;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 1fr 1fr 0.7fr 0.7fr;
	align-items: center;
	justify-content: center;
	justify-items: center;
	padding: 2px;
	border-bottom: 1px solid var(--lightColor);
	justify-content: space-around;
}

.valoresElements li div {
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;	
}

.valoresElements li svg {
	margin-right: 5px;
}

.invoiceBtn, .nfeBtn {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0px;
	padding: 2px 5px;
	box-shadow: none;
}

.invoiceBtn span, .nfeBtn {
	font-size: var(--defaultFontSize);
	color: var(--darkBlueColor);
}












/*pagar btn*/
.payBtn {
	position: relative;
	justify-self: center;
	align-self: center;
	background-color: var(--greenColor);
	color: #fff;
}



















/*BTNS UPLOAD*/
.uploadsBtnWrapper {
	margin-top: 20px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	box-sizing: border-box;
	justify-content: space-between;
}

.uploadBtn {
	position: relative;
	margin: 10px auto;
	width: 90%;
}

.uploadBtn svg {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.uploadBtn span {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	text-align: center;
	align-self: center;
	justify-self: center;
}

.btnContent {
	position: relative;
	display: grid;
	grid-template-columns: 35px 1fr;
	justify-content: center;
	align-items: center;
	justify-items: start;
	box-sizing: border-box;	
}












.statusWrapper {
	width: 70%;
	align-self: flex-start;
}









/*status lines*/
.statusLine {
	padding: 15px;
	border-radius: 7px;
	display: grid;
	grid-template-columns: 40px 1fr;
}

.statusLinePositive {
	border: thin solid #66B2B2;
}

.statusLinePositive span {
	color: #66B2B2;
}

.statusLineExclamation {
	border: thin solid #ce8d4c;
}

.statusLineExclamation span{
	color: #ce8d4c;
}

.statusLineError {
	border: thin solid #ce4c4c;
}

.statusLineError span {
	color: #ce4c4c;
}





























/*pacote full*/
.tableFull {
	display: grid;
	grid-template-columns: 50px 1fr;
	width: 100%;
	box-sizing: border-box;
	position: relative;
}

.anexoBtn {
	padding: 2px 5px;
	margin: 0;
	font-size: var(--defaultFontSize);
}

.tableFullTitle {
	grid-column: 1 / 2;
	grid-row: 2 / 11;
	background-color: var(--blueB);
	color: #fff;
	z-index: 20;
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
	box-sizing: border-box;
}

.tableFullTitle span {
	transform: rotate(-90deg) translateY(-50%);
	text-align: center;
	transform-origin: 50% 50%;
	box-sizing: border-box;
	position: relative;
	display: block;
	color: #fff;
	font-weight: 700;
	/*font-size: 25px;*/
	top: 38%;
	left: 10px;
}

.topTablesTitle,
.tablesTitle {
	text-align: center;
	margin-bottom: 20px;
	display: block;
	position: relative;
	box-sizing: border-box;
}

.tablesTitle {
	margin-top: 70px;
	font-weight: 600;
	font-size: var(--titlesFontSize) !important;
	font-family: 'Roboto Condensed', sans-serif;
	border-top: 10px solid var(--darkBlueColor);
	padding: 10px;
	background-color: var(--blueE);
	border-radius: 0 0 8px 28px;
}

.tablesTitle::after {
	content: "";
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 40px solid var(--darkBlueColor);
	top: 0px;
	right: 20px;
	position: absolute;
}

.topTablesSubtitles,
.tablesSubtitles {
	display: block;
	position: relative;
	box-sizing: border-box;
	padding: 10px;
	line-height: 1.3;
}

.topTablesSubtitles {
	text-align: center;
}

.tablesSubtitles {
	border-bottom: 2px solid #efefef;
	margin-bottom: 70px;
}

.tableAndTitleBlock {
	border-bottom: 3px solid transparent;
	position: relative;
	box-sizing: border-box;
	display: block;
}

.tableAndTitleBlock:nth-of-type(1) {
	margin-top: 20px;
}

.tableTemplate {
	margin: 70px auto;
	position: relative;
	box-sizing: border-box;
	display: block;
}

.tableTemplateRow {
	display: grid;
	grid-template-columns: 120px repeat(auto-fill, minmax(90px, 1fr));
	font-family: 'Roboto Condensed', sans-serif;
	position: relative;
	box-sizing: border-box;
	grid-auto-flow: column;
}

.tableTemplateHeaderLineOne,
.tableTemplateHeaderLineTwo {
	position: relative;
	box-sizing: border-box;
	border-right: thin solid #efefef;
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-grow: 1;
}

.boldTitles {
	font-weight: 600;
}

.hoverUnderline {
	text-decoration: underline;
}

.tableTemplateHeaderLineOne .boldTitles {
	color: #fff;
}

.tableTemplateHeaderLineOne:first-child,
.tableTemplateHeaderLineTwo:first-child {
	padding: 10px 0;
}

.tableTemplateHeaderLineOne {
	background-color: var(--darkBlueColor);
}

.tableTemplateHeaderLineOne span,
.tableTemplateHeaderLineTwo span {
	text-align: center;
	align-self: center;
	justify-self: center;
	box-sizing: border-box;
	display: block;
}

.tableTemplateHeaderLineOne span,
.tableTemplateHeaderLineTwo span:nth-of-type(1)  {
	font-weight: 600;
}

.tableTemplateHeaderLineOne:nth-of-type(1) span:nth-of-type(2) {
	font-size: var(--titlesFontSize);
}

.tableTemplateHeaderLineOne:nth-of-type(1),
.tableTemplateHeaderLineTwo:nth-of-type(1) {
	background-color: var(--lightGray);
}

.tableTemplateHeaderLineOne:nth-of-type(1) span {
	font-size: var(--titlesFontSize);
	font-weight: 600;
	text-align: center;
}



.tableTemplateRow:nth-of-type(2) .tableTemplateHeaderLineTwo:nth-of-type(2),
.tableTemplateRow:nth-of-type(2) .tableTemplateHeaderLineTwo:nth-of-type(3),
.tableTemplateRow:nth-of-type(2) .tableTemplateHeaderLineTwo:nth-of-type(4),
.tableTemplateRow:nth-of-type(2) .tableTemplateHeaderLineTwo:nth-of-type(5),
.tableTemplateRow:nth-of-type(2) .tableTemplateHeaderLineTwo:nth-of-type(6),
.tableTemplateRow:nth-of-type(2) .tableTemplateHeaderLineTwo:nth-of-type(7),
.tableTemplateRow:nth-of-type(2) .tableTemplateHeaderLineTwo:nth-of-type(8),
.tableTemplateRow:nth-of-type(2) .tableTemplateHeaderLineTwo:nth-of-type(9),
.tableTemplateRow:nth-of-type(2) .tableTemplateHeaderLineTwo:nth-of-type(10) {
	background-color: var(--blueD);
}

.tableTemplateRow:nth-of-type(2) .tableTemplateHeaderLineTwo:nth-of-type(2) span,
.tableTemplateRow:nth-of-type(2) .tableTemplateHeaderLineTwo:nth-of-type(3) span,
.tableTemplateRow:nth-of-type(2) .tableTemplateHeaderLineTwo:nth-of-type(4) span,
.tableTemplateRow:nth-of-type(2) .tableTemplateHeaderLineTwo:nth-of-type(5) span,
.tableTemplateRow:nth-of-type(2) .tableTemplateHeaderLineTwo:nth-of-type(6) span,
.tableTemplateRow:nth-of-type(2) .tableTemplateHeaderLineTwo:nth-of-type(7) span,
.tableTemplateRow:nth-of-type(2) .tableTemplateHeaderLineTwo:nth-of-type(8) span,
.tableTemplateRow:nth-of-type(2) .tableTemplateHeaderLineTwo:nth-of-type(9) span,
.tableTemplateRow:nth-of-type(2) .tableTemplateHeaderLineTwo:nth-of-type(10) span {
	color: #fff;
}

.tableTextLines {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/*align-items: center;*/
	box-sizing: border-box;
	line-height: 1.5;
	border: thin solid #fff;
	position: relative;
}

.tableTextLines span {
	text-align: center;
	box-sizing: border-box;
	display: block;
}

.tableTemplateRow .tableTextLines:nth-of-type(1) span {
	text-align: left;
}

.tableTextLines span:nth-child(even),
.tableTextLines .packLine:nth-child(even) {
	background-color: var(--lightGray);
}

.tableTextLines a {
	margin: 0px;
	padding: 5px 7px;
	box-sizing: border-box;
	line-height: 1;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -40px;
	background-color: var(--greenColor);
}

.tableTextLines a:hover {
	background-color: var(--darkBlueColor);
}

.tableTextLines a span {
	color: #fff;
}






.packLine {
	position: relative;
	display: block;
	box-sizing: border-box;
}

.dropdown {
	display: block;
	visibility: hidden;
	opacity: 0;
	position: absolute;
	box-sizing: border-box;
	background-color: var(--darkBlueColor);
	padding: 9px;
	border-radius: 5px;
	width: 250px;
	z-index: 200;
	color: #fff;
	top: 60px;
	line-height: 1.2;
	transition: 0.3s ease all;
}

.dropdown::after {
	content: "";
	width: 30px;
	height: 30px;
	background-color: var(--darkBlueColor);
	transform: rotate(45deg);
	position: absolute;
	top: -10px;
	left: 16px;
	z-index: -1;
}


.dropdownCta {
	cursor: pointer;
	text-decoration: underline;
}


.dropdownCta:hover + .dropdown {
	visibility: visible;
	opacity: 1;
	top: 40px;
}








.packsDropdowns {
	display: block;
	visibility: hidden;
	opacity: 0;
	position: absolute;
	box-sizing: border-box;
	background-color: var(--blueC);
	padding: 9px;
	border-radius: 5px;
	width: 200px;
	z-index: 200;
	color: #fff;
	top: 100px;
	left: -110px;
	line-height: 1.2;
	transition: 0.3s ease all;
}



.packsDropdowns::after {
	content: "";
	width: 30px;
	height: 30px;
	background-color: var(--blueC);
	transform: rotate(45deg);
	position: absolute;
	top: -10px;
	right: 25px;
	z-index: -1;
}



.packsDropdownHover {
	cursor: pointer;
}


.packsDropdownHover:hover .packsDropdowns {
	visibility: visible;
	opacity: 1;
	top: 85px;
}

















/*recursos wrapper*/
.recursosWrapper {
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	box-sizing: border-box;
	font-family: 'Roboto Condensed', sans-serif;
	background-color: var(--lightGray);
	border-radius: 10px;
	padding: 10px;
	grid-gap: 20px;
}

.recursosTitle {
	position: relative;
	box-sizing: border-box;
	display: block;
	grid-column: 1 / -1;
	grid-row: 1 / 2;
	text-align: center;
	font-size: var(--titlesFontSize) !important;
	font-weight: 600;
}


.recurso {
	position: relative;
	display: grid;
	grid-template-columns: 30px 1fr;
	grid-template-rows: 1fr;
	box-sizing: border-box;
	font-family: 'Roboto Condensed', sans-serif;
	background-color: rgba(0,0,0,.1);
	padding: 10px;
	border-radius: 5px;
	align-items: center;
}
















/*intro*/
.introMsgContainer {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,.7);
	top: 0;
	left: 0;
	z-index: 600;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.introMsgWrapper {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	box-sizing: border-box;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 0 50px 0 rgba(0,0,0,.5);
}

.introMsgWrapper span {
	text-align: center;
	margin: 20px auto;
	font-size: var(--titlesFontSize);
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	color: var(--blueColor);
}